/*
==============================================================================
Nome: Button.css
Tipo: COMPONENT
Responsabilidade: Define os estilos base de componentes reutilizáveis.
Padrão: BEM
==============================================================================
*/

