/*
==============================================================================
Nome: Typography.css
Tipo: TOKEN
Responsabilidade: Define os tokens visuais utilizados pelo design system.
Padrão: BEM
==============================================================================
*/

:root {

--font-family:
Inter,
system-ui,
sans-serif;


--text-xs: .75rem;
--text-sm: .875rem;
--text-md: 1rem;
--text-lg: 1.25rem;
--text-xl: 2rem;
--text-hero:
clamp(
2.5rem,
8vw,
2.5rem
);

}