/*
==============================================================================
Nome: Utilities.css
Tipo: UTILITY
Responsabilidade: Define utilidades e classes auxiliares de estilo.
Padrão: BEM
==============================================================================
*/

